.main {
  margin-top: 5px;
  text-align: center;
}

.static-button {
  /* Style the element like a button, but don't have all the button effects. */
  pointer-events: none;
}

@media (min-width: 768px) {
  .main {
    border-radius: 5px;
    margin-left: 1em;
    margin-top: 0;
    padding: 1em;
    border: 2px var(--bs-secondary) solid;
  }
}

@media (max-width: 767px) {
  .btn {
    border-radius: 0 !important;
  }
}
